
@{
    ViewData["Title"] = "Account Locked";
}


<div class="text-center">

    <section class="mission">
        <div class="text">
            <h2 class="display-4">Account Locked</h2>
            <p>
                You have exceeded the number of attempts for a successful login, and your account has been locked. Please try again in another 30 seconds.
            </p>
        </div>
    </section>
    
</div>