@model Login
@{
    ViewData["Title"] = "Logins";
}


<h1 class="display-4">Change Password</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            
            <div class="form-group">
                <label for="Password" class="control-label">Password</label>
                <input id="Password" name="Please enter your new password" type="password" class="form-control"
                       data-val="true" data-val-required="The Password field is required." />
                @Html.ValidationMessage("Password", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Change password" class="btn btn-primary" />
            </div>
            @Html.ValidationMessage("LoginFailed", new { @class = "text-danger" })
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

