@model WDT_Assignment2.ViewModels.BillPayViewModel;
@{
    ViewData["Title"] = "Customer";
    ViewData["Title"] = "AccountNumber";
}

<h1 class="display-4">
    <i class="page-icon fas fa-calendar-plus"></i>
    BillPay
</h1>

<div class="container-fluid">
    <div class="row jumbotron">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <p class="lead">
                You can now pay individual and multiple bills at once, or by scheduled payments, using Billpay in the NWBA internet banking website.  
                Choose the account you want to pay from, enter the amount, select the payee from our list, and select the payment date and we'll ensure that these businesses will get your money.
                You can even select how often you want to give them money!
            </p>
        </div>

    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateBillPay">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="AccountNumber" class="control-label">Account Number</label>
                <select asp-for="AccountNumber" class="form-control" asp-items="ViewBag.AccountNumber"></select>
            </div>
            <div class="form-group">
                <label asp-for="PayeeID" class="control-label">Payee</label>
                <select asp-for="PayeeID" class="form-control" asp-items="ViewBag.PayeeID"></select>
                <span asp-validation-for="PayeeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillPay.Amount" class="control-label">Amount($)</label>
                <input asp-for="BillPay.Amount" name="Amount" class="form-control" />
                @Html.ValidationMessage("amount", new { @class = "text-danger"})
                <span asp-validation-for="BillPay.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillPay.ScheduleDate" class="control-label">Scheduled Date</label>
                <input type="date" asp-for="BillPay.ScheduleDate" name="ScheduleDate" class="form-control" />
                @Html.ValidationMessage("scheduleDate", new { @class = "text-danger" })
                <span asp-validation-for="BillPay.ScheduleDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillPay.Period" class="control-label"></label>
                <select asp-for="BillPay.Period" name="Period" class="form-control" asp-items="Model.Periods" ></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirm new payment" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AllScheduledPayments">View all scheduled payments</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


