@model Account
@{
    ViewData["Title"] = "Transfer";
}

<h1 class="display-4">
    <i class="page-icon fas fa-exchange-alt"></i>
    Account Number @Model.AccountNumber (@Model.AccountType)
</h1>
<div class="container-fluid">
    <div class="row jumbotron">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <p class="lead">
                Here you can choose to either to transfer money to another account, or another's account.
            </p>
        </div>

    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-4">
        <a asp-action="Transfer_Own" asp-route-id="@Model.AccountNumber">Transfer to own account<br /></a>
        <a asp-action="Transfer_ThirdParty" asp-route-id="@Model.AccountNumber">Transfer to third-party account</a>
    </div>
</div>
<br>
<br>
<br>
<br>
<div>
    <a asp-action="Index">Back to Accounts</a>
</div>
