
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <section class="mission">
        <div class="text">
            <h2 class="display-4"> National Wealth Bank of Australia  </h2>
            <p>
                Our purpose is to shape a world where people and communities thrive. Our people are proud to help people achieve incredible things – be it buying their home, building a business or saving for things big or small.

                We're just as focused on seeing our people thrive as well as our customers. We'll give you every opportunity to develop your career. Our people are striving to create a balanced, sustainable society where everyone can build a better life.
            </p>
        </div>
        
    </section>
    
</div>
