
@{
    // Razor Syntax: HTML + C# to make it dynamic
    // View data is a dynamic data structure that holds certain value - the name of the page 
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4"> ATM </h2>
    <p>Transaction Details</p>
</div>
