@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    The Australian Banking Association (“ABA”) and its member banks believe that an individual’s right to privacy of their personal information is very important, and are committed to protecting and maintaining the privacy, accuracy and security of an individual’s personal and financial information.

    Every ABA member bank has a Privacy Policy, which generally can be found on their website home pages.

    Australian Banking Association Privacy Policy1
    The ABA’s Privacy Policy describes how the ABA manages personal information that it may collect, hold, use or disclose for the purposes of its functions and activities.

    Personal information is information or an opinion, whether true or not, and whether recorded in a material form or not, about an individual whose identity is apparent, or can reasonably be ascertained, from the information or opinion.

  
</p>
